*{
    font-family: 'Oldenburg', cursive;
}


img{
    display: block;
}

#red{
    color:red !important;
}
h1{
    font-family: Oldenburg;
    font-size: 3em;
    text-align: center;
}

h3{
    font-family: Oldenburg;
    text-align: center;
}
#title{
    font-size: 1em;
}

#center{
   text-align:  center; 
}
.nav-item a{
    color:white;
}
.flexfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#liens{
    text-decoration: none;
    color:white;
}
#liens:active{
    text-decoration: underline;
    color:red;
}

.grey{
    font-size: .8em;
    color:grey;
    text-align: center;
    font-style: italic;
}
#artist{
    color:red;
    font-style: italic;
}
#blue{
    color:blue;
    font-weight: bold;
}
#blue a {
    text-decoration: none;
}
#myTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:rgb(69, 67, 67); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 12px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
.italic{
    font-style: italic;
}
.navbar-toggler.navbar-toggler:active{
    border-color: yellow;
}
.card{
    padding: 20px;
    margin: 20px;
    box-shadow: 1px 1px grey;
}
#festival{
    padding-top: 100px;
}

  /*---------------------------------------media-queries -------------------------------------------------*/
  @media screen and (min-width: 750px){
    
  #pageAccueil{
   min-height: 800px;
}
  }

  @media screen  and (min-width:425px) {
    
    .navbar-toggler.navbar-toggler{
        display:inline-block;
    }
   
  }
 